.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.shadow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.refresh {
  margin-top: 16px;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 50px;
  border: none;
}

.refresh:hover {
  background-color: rgb(115, 193, 196);
}

.refresh:active {
  padding: 8px;
}

.image {
  border-radius: 32px;
}